JWT_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

CRYPTOBOT_TOKEN=

SERVER_IP=
SERVER_PORT=3000
BASE_URL=https://staytg.org

# PostgreSQL DSN
DATABASE_URL=postgres://mtproxy:yourpassword@localhost:5432/mtproxy?sslmode=disable

PORT_MIN=8000
PORT_MAX=9999
SOCKS5_PORT_MIN=10000
SOCKS5_PORT_MAX=10999
DEFAULT_MAX_PROXIES=5

MTG_IMAGE=nineseconds/mtg:2
GOST_IMAGE=ginuerzh/gost:2.12
