JWT_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

CRYPTOBOT_TOKEN=

SERVER_IP=
SERVER_PORT=8080
BASE_URL=https://example.com

PORT_MIN=8000
PORT_MAX=9999
SOCKS5_PORT_MIN=10000
SOCKS5_PORT_MAX=10999
DEFAULT_MAX_PROXIES=5

MTG_IMAGE=nineseconds/mtg:2
GOST_IMAGE=ginuerzh/gost:2.12
# Для Docker: /app/data/mtproxy.db
# Для хоста: /var/lib/mtproxy-manager/mtproxy.db
DB_PATH=/app/data/mtproxy.db
